* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh-Sans", sans-serif;
  scroll-behavior: smooth;
}

.Bait {
  margin-left: 50px;
  ;
  margin-right: 50px;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 60px;
  text-align: center;
}

.Header_Hotel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 65px;
  margin-bottom: 20px;
  color: #c00424;
}

.Header_Food {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  color: #c00424;
  margin-top: 20px;
}

.Hotel_H1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 65px;
  margin-bottom: 20px;
  color: #c00424;
}

.Header_Fun {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 65px;
  margin-bottom: 20px;
  color: #c00424;
}

/*NAVABAR***************************************************************************************************************/
#menuList {
  margin-left: 300px;
}

.navbar_item {
  height: 80px;
}

.navbar_link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.card_7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 500px;
}

.card_7:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container_7 {
  padding: 2px 16px;
}

.Transport {
  margin-left: 500px;
  height: 700px;
  width: 1000px;
  cursor: pointer;
}

#navbar_logo {
  background: #ff8177;
  background-image: linear-gradient(to bottom, #fd1d1d, #ffb199);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.navbar_link:hover {
  color: #833ab4;
  transition: all 0.3s ease;
}

/*ACTIVITIES IMAGES***************************************************/
.img_111 {
  width: 300px;
  height: 200px;

}

.img_222 {
  width: 300px;
  height: 200px;
}

.img_333 {
  width: 300px;
  height: 200px;
}

.img_444 {
  width: 300px;
  height: 200px;
}

.img_555 {
  width: 300px;
  height: 200px;
}

.img_666 {
  width: 300px;
  height: 200px;
}

.img_777 {
  width: 300px;
  height: 200px;
}

.img_8 {
  width: 300px;
  height: 200px;
}

.img_9 {
  width: 300px;
  height: 200px;
}

.img_10 {
  width: 300px;
  height: 200px;
}

/*RESTAURANT******************************************/
.img_11 {
  width: 300px;
  height: 200px;

}

.img_22 {
  width: 300px;
  height: 200px;
}

.img_33 {
  width: 300px;
  height: 200px;
}

.img_44 {
  width: 300px;
  height: 200px;
}

.img_55 {
  width: 300px;
  height: 200px;
}

.img_66 {
  width: 300px;
  height: 200px;
}

.img_77 {
  width: 300px;
  height: 200px;
}

.img_88 {
  width: 300px;
  height: 200px;
}

.img_99 {
  width: 300px;
  height: 200px;
}

.img_100 {
  width: 300px;
  height: 200px;
}

/*HOTEL IMAGE***************************/
.img_1 {
  width: 300px;
  height: 200px;

}

.img_2 {
  width: 300px;
  height: 200px;
}

.img_3 {
  width: 300px;
  height: 200px;
}

.img_4 {
  width: 300px;
  height: 200px;
}

.img_5 {
  width: 300px;
  height: 200px;
}

.img_6 {
  width: 300px;
  height: 200px;
}

.img_7 {
  width: 300px;
  height: 200px;
}

.img_8 {
  width: 300px;
  height: 200px;
}

.img_9 {
  width: 300px;
  height: 200px;
}

.img_10 {
  width: 300px;
  height: 200px;
}


/*HOTEL STYLE***************************************************************************************/
/*=============== GOOGLE FONTS ===============*/

:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #000000;
  --white: #fff;
  --thumb: #edf2f4;
}

.Activities_body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 0 0;
  margin-top: 0;
  padding-bottom: 0%;
}

.Activities_body_Fun {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 0 0;
  margin-top: 0;
  overflow-x: hidden;
}

.Activities_body_Home {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 0 0;
  margin-top: 0;
  overflow-x: hidden;
}

.Activities_body_Cota {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 0 0;
  margin-top: 0;
  overflow-x: hidden;
}




body {
  background-color: #fff3f3;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
  width: 750px;
}


.Activities {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

#Activities {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}


.Activities:not(:last-child) {
  margin-right: 10px;
}

.Activities h3 {
  color: #000000;
}

.Activities:hover {
  color: var(--black);
  background: var(--darkred);
}

.Activities .card-title {
  font-size: 20px;
  color: #000;
}

.Activities .card-content {
  margin: 20px 0;
  max-width: 85%;
}


.Activities .card-link-wrapper {
  margin-top: auto;
}

#content {
  margin: 25px;
  font-size: 25px;
  
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
#content_Hotel {
  margin: 25px;
  font-size: 25px;
  
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.Activities .card-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(3, 1, 1);
  background: var(--red);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.Activities:hover .card-link {
  background: var(--darkred);
}

.cards::-webkit-scrollbar {
  height: 10px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .Activities {
    flex-basis: calc(50% - 10px);
  }

  .Activities:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .Activities {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .Activities:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .Activities {
    flex-basis: calc(25% - 30px);
  }

  .Activities:not(:last-child) {
    margin-right: 40px;
  }
  .cards{
    margin-bottom: auto;
    margin-right: auto;
    width: 100%;
  }
 
  
}

/***HOME PAGE****************************************************************************/
:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.District_1 {
  width: 70vw;
  aspect-ratio: 2266/1275;
  position: relative;
  background: url("../Img/New.webp");
  background-size: contain;
}




ul {
  list-style: none;
}

.Home_wide {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: #c00424;
  padding-bottom: 0;
}

.Wide {
  font-size: 25px;
  margin-left: 50px;
}

.Home_wide2 {
  width: 400px;
  color: #c00424;
  padding-bottom: 0;
}

.Wide2 {
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}
.beauty_para{
  margin-top: 35px;
  text-align: center;
  font-size: 25px;
}
.beauty{
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
  color: #c00424;
}

.showcase_Restaurant {
  width: 100vw;
    aspect-ratio: 4608/2592;
    position: relative;
    background: url("../Img/Foodiev2.jpg");
    background-size: contain;
    margin-top: -9px;
}

.showcase {
  margin-top: -10px;
  margin-bottom: 40px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../Img/New_Ohio.jpg") center/cover;
}

.showcase_Hotel {
  margin-top: -10px;
  margin-bottom: 40px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../Img/Carry.jpg") center/cover;
  
}


.Fun_h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0617b3;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 500px;
}

.Manchester {
  color: #3884db;
}

.showcase_Fun {

  margin-top: -10px;
  margin-bottom: 40px;
  width: 100%;
  height: 140vh;
  position: relative;
  background: url("../Img/chelsea-vs-Man-City.jpg")  center/cover;
}


.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* Tabs */
.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
  border-right: none;
}

tabs.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container>div {
  padding: 1.5rem 0;
}

.tabs .container>div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tab-content2 {
  padding: 2rem 0;
}

.tab-content {
  padding: 3rem 0;
}

.footer_container_Fun{
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}


.footer_container{
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.footer_links{
  width:100%; 
  max-width:1000px;
  display:flex;
  justify-content: center;
  margin-left: 40px;
}

.footer_link_items{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin:16px;
  text-align: left;
  width:16rem;
  box-sizing: border-box;
}
.footer_link_items h2{
  color:#fff; 
  margin-bottom: 1rem; /*margin: 0 0 1rem 0;*/
}
.footer_link_items a{
  color:#fff;
  text-decoration: none;
  margin-bottom: .5rem;
  transition: .3s ease-out;
}
.footer_link_items a:hover{
  color:#833ab4;
  transition: .3s ease-out;
}
.social_media{
  max-width: 1000px;
  width: 100%;
}
.social_media_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 40px auto 0 auto;
}
#footer_logo{
  color:#fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}
.website_rights{
  color:#fff;
}
.social_media_icons{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 240px; 
}
.social_media_icons a{
  transition: .3s ease-out;
}
.social_media_link{
  color:#fff;
  font-size: 24px;
}
.social_media_icons a:hover{
  color:#833ab4;
  transform: scale(2);
  transition: .3s ease-out;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

.container {
  max-width: 57%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 700px;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}


nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  position: relative;
  height: 80px;
  text-align: center;
}

.logo {
  color: #fff;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}

@media (max-width:1000px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #000000;
    gap: 0;
    overflow: hidden;
  }

  nav ul li {
    padding: 20px;
    padding-top: 0;
  }

  .menu-icon {
    display: block;
  }

  #menuList {
    position: absolute;
    z-index: 999;
    transition: all 0.5s;
  }

  .Fun_h2 {
    margin-left: 60px;
    width: 600px;
    font-size: 30px;
  }

  .card_7 {
    width: 400px;
  }
}

.footer_link_wrapper{
  display:flex;
  flex-direction: row;
  grid-template-columns:  1fr 1fr;
}
.footer_links{
  padding-top: 1rem;
}


/*****************************************************/

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.h1_cota {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  color: #c00424;
  padding-bottom: 0;
  margin-top: 100px;
  margin-bottom: 35px;
  text-align: center;
}

.Showcase_Bus {
  margin-bottom: 40px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../Img/Bus.jfif") center/cover;

}

.card_Cota {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.Cota_Header {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  color: #c00424;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
}

.card_Cota .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

/* /* .showcase {
  margin-top: -10px;
  margin-bottom: 40px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../Img/New_Ohio.jpg") center/cover;
   /original card imgae*/
/* width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover; */
/* }  */

.card_Cota .card_image img {
  margin-top: -10px;
  margin-bottom: 40px;
  width: 100%;
  border-radius: 40px;
  height: 42vh;
  position: relative;
}

.card_Cota .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card_Cota:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}
/****BEAUTIFUL PAGE*****************************************************************************/

.gallery-track {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}

.card {
  height: 400px;
  overflow: hidden;

  & .card-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
} 

@media (width < 800px) {
  .gallery-track {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (width < 550px) {
  .gallery-track {
    grid-template-columns: repeat(1,1fr);
  }
}

@media all and (max-width: 1000px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;

  }
  .footer_link_wrapper {
    flex-direction: column;
   margin-left: 150px;
}

  .card_Cota .card_image img {
    margin-top: -10px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 40px;
    height: 46vh;
    position: relative;
  }

  .Cota_Header {
    margin-left: auto;
    margin-right: auto;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .h1_cota {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 35px;
  }
}

/**************************************************************/
@media (max-width: 1000px) {
  .showcase {
    height: 70vh;
  }
  html{
    height: 1400px;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

}

@media (max-width: 1000px) {
  .showcase::after {}

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .Home_wide {
    margin-left: 50px;
    margin-right: auto;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .Wide {
    margin-left: -15px;
    margin-right: auto;
    width: 450px;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .District_1 {
    width: 150vw;
    aspect-ratio: 2266/1275;
    position: relative;
    background: url("../Img/New.webp");
    background-size: contain;
  }

  .Home_wide2 {
    margin-left: 50px;
    margin-right: auto;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .Wide2 {
    margin-left: 40px;
    margin-right: auto;
    width: 400px;
    color: #c00424;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .showcase-content p {
    font-size: 1rem;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

}

@media (max-height: 1000px) {
  .showcase-content {
    margin-top: 3rem;
  }
}

@media screen and (max-width:1000px) {
  .container{
    width: 410px;
  }
  /*Responsive Styling for Navbar*/
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    z-index: 1;
    max-width: 1000px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all .5s ease;
    z-index: -1;
  }

  .navbar_menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 1;
    transition: all .3s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar_button {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0;
  }

  /*mobile styling for JS functionality*/
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .Hotel_H1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    margin-bottom: 20px;
    color: #c00424;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 10px;
    margin: 5px auto;
    transition: all .5s ease-in-out;
    display: block;
    cursor: pointer;
    background: #ffffff;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .showcase_Fun {
    width: 100vw;
    height: 30vh;
  }
  .Header_Hotel {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    margin-bottom: 20px;
    color: #c00424;
  }
  .social_media_wrapper {
    flex-direction: column;
}
.Header_Food{
  text-align: center;
  font-size: 35px;
}
.beauty_para{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.beauty{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 45px;
  color: #c00424;
}
}